.button-container {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 0px;
  border-width: 2px;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.button-color--primary {
  color: #e6007a; 
  border: 2px solid #e6007a
}
.button-color--secondary {
  color: black;
  border: 2px solid #000000;
}
.button-size--small {
  font-size: 14px;
  padding: 12px 20px;
}
.button-size--medium {
  font-size: 16px;
  padding: 13px 26px;
}
.button-size--large {
  font-size: 20px;
  padding: 16px 32px;
}
