.button-container {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 0px;
  border-width: 2px;
  background-color: transparent;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.88);
  display: inline-block;
  line-height: 1;
  transition: transform 0.3s ease-in-out;
}

.button-size--small {
  font-size: 14px;
  padding: 12px 20px;
}

.button-size--medium {
  font-size: 16px;
  padding: 13px 26px;
}

.button-size--large {
  font-size: 20px;
  padding: 16px 32px;
}